<ion-view>
    <ion-content padding="true">
        
        <center><h4>Horários</h4>
        <p>Escolha uma opção abaixo</p>
        </center>
        <button class="button button-positive button-outline col col-50 col-offset-25">
            Salas
        </button><br>
        <button class="button button-positive button-outline col col-50 col-offset-25">
            Laboratórios
        </button><br>
        <button class="button button-positive button-outline col col-50 col-offset-25">
            Professores
        </button><br>
        <button class="button button-positive button-outline col col-50 col-offset-25">
            Cursos
        </button><br>
        </div>
    </ion-content>
</ion-view>